@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    width: 400px; /* Match login form */
    min-height: 550px; /* Adjust form height */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Softer shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #162938;
    border-radius: 5px; /* Border radius for smooth edges */
    background: transparent;
    outline: none;
    font-size: 1em;
    color: #162938;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    font-size: 0.8em;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -10px 0 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
